* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    box-sizing: border-box;
}

body {background-color: #000011}

#wrapper {
    max-width: 1000px;
    max-height: 10000px;
    margin: 0 auto;
    background-color: #ffffff;
}

header img {width: 100%;
            display: block;
}

@media (max-width:800px) {
    nav a {
        width: 50%;
    }
}

@media (max-width:500px) {
    nav a {
        width: 100%;
    }
}

nav {
    background-color: #C4DEF6;
}

nav a {
    display: inline-block;
    width:25%;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    text-align: center;
}

a.menu:hover {
    font-size: 20px;
    color: white;
    background-color: black;
}

.active {
    font-size: 20px;
    color: white;
    background-color: black;
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 30px;
}

article p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

iframe {
    margin: 30px 225px;
}